<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Register | AskExpert</title>
  </head>
  <body>
    <!-- header section start -->
    <%- include('partials/header.ejs') %>
    <!-- header section end -->

    <!-- signup form starts -->
    <div class="container my-5">
      <div class="row justify-content-center align-items-center">
        <h3 class="text-center mb-4">
          <span class="text-primary fw-bold">Sign Up</span> | Join AskExpert
        </h3>
        <form action="/user/validateOTP" method="post" class="col-md-4">
          <input
            type="hidden"
            name="email"
            class="form-control"
            id="email"
            required
          />
          <div class="mb-3">
            <label for="otp" class="form-label">OTP</label>
            <input
              type="number"
              name="otp"
              class="form-control"
              id="otp"
              required
            />
            <div id="emailHelp" class="form-text">
              User ID will be unique for all users.
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <!-- signup form ends -->

    <!-- footer section start -->
    <%- include('partials/footer.ejs') %>
    <!-- footer section end -->
    <script src="/js/register.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
